{{ define "main" }}
{{$page := .}}

{{partial "widgets" $page}}

<main class="
        mt-8 lg:w-4/6 lg:mx-auto">
    {{ .Content }}
    <div class="flex flex-wrap -mx-2  sm:-mx-2">

        {{ range sort (.Paginator.Pages) "Params.menu.main.weight" "asc" }}
        <div class="my-2 px-2 w-full sm:my-2 sm:px-2 sm:w-full md:w-full lg:w-1/3">
            <div class="px-8">
                {{/* Get summary. */}}
                {{ $summary := "" }}
                {{ if .Params.summary }}
                {{ $summary = .Params.summary | markdownify | emojify }}
                {{end}}

                {{partial "list_card" (dict "context" . "title" .Title "summary" $summary "icon" .Params.icon )}}
            </div>
        </div>
        {{ end }}
    </div>







    {{ partial "pagination.html" . }}
</main>
{{ end }}