{{ define "main" }}
    {{$page := .}}

    {{partial "widgets" (dict "scope" $page "type" "branch") }}

    <main class="bg-white">
        <div class="mt-8 lg:w-9/12 lg:mx-auto">
            {{ .Content }}
            <div class="flex flex-wrap ">
                {{ range sort (.Paginator.Pages) "Params.menu.main.weight" "asc" }}
                    <div class="w-full  sm:w-full md:w-full lg:w-2/4">
                        <div class="">
                            <a href="{{.Permalink}}" class="hover:text-orange-600">
                                {{ .Render "summary"}}
                            </a>
                        </div>
                    </div>
                {{ end }}
            </div>
            {{ partial "pagination.html" . }}
        </div>
    </main>
{{ end }}