{{ define "main" }}

{{$context := .}}

{{$dir := .Page.File.Dir}}
{{$widgetsPath := printf "%s%s" $dir "homex"}}


{{$widgetHeadless := .Site.GetPage $widgetsPath}}

{{ $widgets := $widgetHeadless.Resources.ByType "page" }}
{{range $i,$p := sort ( $widgets) "Params.sort" "asc"}}

{{$even := (modBool $i 2)}}

{{$partial := printf "%s%s%s" "widgets/" .Params.widget ".html"}}


<!--
dir: {{$dir}} </br>
widgetsPath: {{$widgetsPath}} </br>
widgets: {{$widgetHeadless}} </br>
widget: {{.Params.widget}} </br>
partial: {{$partial}} </br>
-->
{{if isset .Params "widget"}}
<div class=" {{if ($even)}} bg-white {{end}}" data-aos="zoom-in">
    {{partial $partial .}}
</div>
{{end}}
{{end}}

{{.Content}}

{{ end }}