{{ define "main" }}
{{$page := .}}

{{partial "widgets" $page}}

<main class="bg-white">
    <div class="mt-2 lg:w-4/6 mx-4  sm:-mx-2 lg:mx-auto">



        <div class="flex flex-wrap  overflow-hidden">
            {{range .Site.Params.Contacts }}
            {{if eq .contactPage true}}
            <div class="my-1 px-1 w-full overflow-hidden sm:w-full md:w-1/2 lg:w-1/2 xl:w-1/2">

                <div class="bg-white text-grey-darker rounded shadow text-center mt-8">
                    <div class="flex flex-col justify-center items-center bg-gray-400 py-4">

                        <div class="text-orange-600 icon-32">
                            {{partial "icon.html" (dict "icon_pack" .icon_pack "icon" .icon )}}

                        </div>


                    </div>
                    <div class="pt-4">
                        {{.message}}
                    </div>
                    <div class="my-4">
                        {{if eq .type "email"}}
                        <a href="mailto:{{.value}}">{{.value}}</a>
                        {{else if eq .type "phone"}}
                        <a href="tel:{{.value}}">{{.value}}</a>
                        {{else}}
                        {{.value}}
                        {{end}}

                    </div>

                </div>

            </div>
            {{end}}
            {{end}}
        </div>



        {{ .Content }}

</main>
</div>
{{end}}