<div class="flex flex-wrap overflow-hidden lg:w-4/6 lg:mx-auto py-16 px-8  flex-col">

    <div class="flex flex-col items-center text-center">
        <h2 class="mb-2">
            {{.Params.heading}}
        </h2>
        <h3 class="mb-6">
            {{.Params.subHeading}}
        </h3>
    </div>
    <div class="flex flex-col sm:flex-row items-center sm:-mx-8">


        {{ range .Params.features }}



        <div class="flex mb-4 ">
            <div class="flex-shrink-0">
                <div class="flex items-center justify-center h-12 w-12 rounded-md text-orange-500 text-white">
                    <span class="w-8 h-8"> {{partial "zondico.html" .icon }}</span>
                </div>
            </div>
            <div class="ml-2">
                <h5 class="text-lg leading-6 font-medium text-orange-900"> {{.name}} </h5>
                <div class="mt-2 text-base leading-6 text-gray-500">
                    {{.text}}

                </div>
            </div>
        </div>



        {{ end }}
    </div>
</div>