

<div class="flex flex-wrap overflow-hidden lg:w-4/6 lg:mx-auto px-8  flex-col">
{{ $t := .Site.GetPage "section" .Params.section }}
    <div class="flex flex-col items-center text-center">
        <h2 class="mb-2">
            {{$t.Params.heading}}
        </h2>
        <h3 class="mb-6 text-gray-600">
            {{$t.Params.sub_heading}}
        </h3>
        <p class="text-gray-600">
             {{$t.Params.paragraph}}
        </p>
    </div>
    <div class="flex flex-wrap -mx-2  sm:-mx-2">
                {{ range sort ( $t.Pages ) "Params.menu.main.weight" "asc" }}



        <div class="w-full sm:my-2 sm:px-2 sm:w-full md:w-2/4 lg:w-2/4">
            <a href="{{.Page.Permalink}}" class="hover:text-orange-600">
                        {{ .Page.Render "summary"}}
                    </a>
        </div>



        {{ end }}
    </div>
</div>