.starter {
    color: blue;
}

.inline-svg {
    display: inline-block;
    height: 100%;
    width: 100%;
    top: 0.15rem;
    position: relative;
}

.icon-16 {
  width:16px;
  height: 16px;
}
.icon-32 {
  width:32px;
  height: 32px;
}
.icon-64 {
  width:64px;
  height: 64px;
}

.logo-svg {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    top: 0.15rem;
    position: relative;
}

#menu-toggle:checked + #menu {
        display: block;
      }
