.starter {
    color: blue;
}

.inline-svg {
    display: inline-block;
    height: 100%;
    width: 100%;
    top: 0.15rem;
    position: relative;
}

.logo-svg {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    top: 0.15rem;
    position: relative;
}

#menu-toggle:checked + #menu {
        display: block;
      }