

{{$heading := .heading}}
{{$subHeading := .subHeading}}
{{$paragraph := .paragraph}}
{{$imagePath := .imagePath }}



<section class="flex flex-col h-full lg:flex-row jusitfy-between items-center  bg-gray-100 py-4 mb-2">
    <div class="w-full px-4 flex flex-col  lg:w-7/12 items-center lg:items-start ">
        <div class="flex flex-col items:center md:items-start text-center md:text-left">

            <div class="uppercase text-lg text-blue-900 font-bold leading-none mb-2">
                {{$heading}}
            </div>
            <div class="uppercase text-sm  text-orange-500 text-secondary tracking-widest mb-6">
                {{$subHeading}}
            </div>
            <p class="text-gray-600 leading-relaxed mb-4">
                {{$paragraph}}
            </p>
        </div>

    </div>

    <div class="w-5/12 hidden md:block ">

       

        <div class="w-3/5">
         
            {{partial "svg.html" (dict "context" . "path" $imagePath)}}
        </div>


    </div>
</section>