   {{$rootSection := printf "%s%s" .Section "/"}}
   {{$section := path.Base .File.Dir}}
   {{$headlessbundle := .Site.GetPage "pages"}}
   {{$featuresPath := replace .File.Dir $rootSection ""}}
   {{$featuresPath =  printf "%s%s" $featuresPath "features/*/*.md" }}

   <!--
  
   rootSection {{ $rootSection}} </br>
   section {{$section}}</br>
   headlessbundle {{ $headlessbundle}}</br>
   featuresPath {{$featuresPath}}</br>

   fileDir: {{ .File.Dir}} </br>

   pages: {{$headlessbundle.Resources.ByType "page"}}</br>
   features: {{$headlessbundle.Resources.Match "home/sections/section_tech/features/*/*.md" }}</br>

   newPath: {{replace .File.Dir $rootSection ""}}
   -->

   <div class="mt-10">
       <ul class="md:grid md:grid-cols-2 md:col-gap-8 md:row-gap-10">

           {{ range sort ( $headlessbundle.Resources.Match $featuresPath) "Params.sort" "asc"  }}
           <li class="mt-4">
               {{partial "feature.html" . }}

           </li>
           {{ end }}
       </ul>
   </div>