   {{$rootSection := .Section}}
   {{$section := path.Base .File.Dir}}
   {{ $headlessbundle := .Site.GetPage $rootSection}}

   {{$featuresPath := printf "%s%s%s" $section "/" "features/*/*.md" }}
   <div class="mt-10">
       <ul class="md:grid md:grid-cols-2 md:col-gap-8 md:row-gap-10">
           {{ range sort ( $headlessbundle.Resources.Match $featuresPath ) "Params.sort" "asc"  }}
           <li class="mt-4">
               {{partial "feature.html" . }}
           </li>
           {{ end }}
       </ul>
   </div>