 <nav class="flex items-center justify-between flex-wrap bg-gray-600 p-2">
     <a href="{{ .Site.Home.Permalink }}" class="flex items-center text-orange-600 font-bold">
         {{ .Site.Title }}
     </a>
     <div class="block sm:hidden text-white ">
         <button id="nav-open" aria-label="open main menu" class="flex items-center  ">

             {{partial "zondico.html" "menu"}}


         </button>
         <button id="nav-close" aria-label="close main menu" class="hidden flex items-center">
             {{partial "zondico.html" "close"}}
         </button>
     </div>

     <ul id="nav-menu"
         class="w-full flex-grow sm:flex items-center sm:w-auto hidden sm:block justify-end list-reset mt-2 sm:mt-0">
         {{ $currentPage := . }}
         {{ range .Site.Menus.main }}
         {{ if and ( .HasChildren ) (eq .Name "Pages") }}


         {{ range .Children }}
         <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
             <a href="{{ .URL }}"
                 class="inline-block text-white sm:px-2 hover:text-orange-600 {{ if $currentPage.IsMenuCurrent "main" . }}text-orange-600{{ end }} ">{{ .Page.Params.menu.main.title }}</a>
         </li>
         {{ end }}


         {{ end }}
         {{ end }}

     </ul>


 </nav>