{{ $scope := .scope }}
{{ $type := .type }} {{/*type is either branch or leaf depending on the page bundle*/}}

{{ $widgets := (partial "functions/get_widgets" (dict "scope" $scope "type" $type)) }}

    {{$filteredWidgets := where $widgets "Params.hidden" "=" nil }}

{{range $i,$p := sort ($filteredWidgets) "Params.sort" "asc" }}

 

    {{$even := (modBool $i 2)}}
    {{$partial := printf "%s%s%s" "widgets/" .Params.widget ".html"}}
    {{if isset .Params "widget"}}
        <div class="py-10 {{if (not $even)}} bg-white {{end}}" {{if gt $i 1}} data-aos="zoom-in" {{end}}>
        {{partial $partial .}}
        </div>
    {{end}}
{{end}}